--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: intervention; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.intervention (id_intervention, intervention) FROM stdin;
1	Possible
2	Partielle
3	Impossible
\.


--
-- Data for Name: site; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.site (id_site, nom, region, surface, decree, latitude, longitude) FROM stdin;
1	Tsimembo-Manambolomaty	Menabe	50000	Décret 2002-123	-19.8	44.5
2	Mandrozo	Menabe	45000	Décret 2002-124	-19.7	44.6
3	Bemanevika	Sofia	35000	Décret 2002-125	-14.5	49.8
4	Mahimborondro	Sofia	30000	Décret 2002-126	-14.6	49.9
\.


--
-- Data for Name: patrouilleurs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.patrouilleurs (id_patrouilleur, nom, role, telephone, date_recrutement, id_site, email) FROM stdin;
6	Rakotoarisoa Marie	Agent	+261383817421	2021-03-20 00:00:00	2	\N
7	Andrianasolo Hery	Agent	+261382305086	2019-11-10 00:00:00	3	\N
8	Andrianasolo Hery	Agent	+261384984929	2019-11-10 00:00:00	4	\N
5	Rasolofoniaina Jean	Responsable	+261349322431	2020-01-15 00:00:00	1	harimalalaerickarandria@gmail.com
10	RAZAFIMANANTSOA Tsiresy	Agent	+261346367580	2020-01-15 00:00:00	3	mntsiresy@gmail.com
\.


--
-- Data for Name: userapp; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.userapp (iduserapp, motdepasse, login, id_patrouilleur) FROM stdin;
4	pass123	jean_r	5
5	pass456	marie_r	6
6	pass789	hery_a	7
7	pass012	agent	8
8	password4+2613463675804	agent10	10
\.


--
-- Data for Name: message; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: typealerte; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.typealerte (id_typealerte, zone) FROM stdin;
1	Rouge
2	Orange
3	Jaune
4	Vert
\.


--
-- Data for Name: alerte; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alerte (id_alerte, id_site, id_message, id_typealerte) FROM stdin;
1	3	2	4
2	3	6	3
3	3	7	2
5	3	10	1
6	4	11	4
7	2	12	4
8	2	13	4
9	2	14	4
10	2	15	4
11	2	16	4
12	2	17	4
13	2	18	4
14	2	19	4
15	2	20	4
16	2	21	4
17	2	22	4
18	2	23	2
19	2	24	2
20	2	25	2
21	2	26	2
22	2	36	4
23	2	47	4
24	2	51	4
25	2	55	4
26	2	58	4
\.


--
-- Data for Name: fonction; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fonction (id_fonction, fonction) FROM stdin;
1	Directeur National
2	Administrateur
3	Subordonnée
4	Responsable
\.


--
-- Data for Name: fonction_zonealerte; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fonction_zonealerte (id_fonction, id_typealerte) FROM stdin;
1	1
2	1
2	2
2	3
2	4
3	1
3	2
4	1
4	2
4	3
\.


--
-- Data for Name: status_message; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.status_message (id_status_message, status) FROM stdin;
1	Debut de feu
2	En cours
3	Maitrise
\.


--
-- Data for Name: historique_message_status; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: status_agent; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.status_agent (id_status_agent, status) FROM stdin;
1	Disponible
2	En mission
3	Indisponible
\.


--
-- Data for Name: historique_status_agent; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.historique_status_agent (id_historique, date_changement, id_status_agent, id_patrouilleur) FROM stdin;
\.


--
-- Data for Name: message_patrouilleur; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.message_patrouilleur (id_message_patrouilleur, id_patrouilleur, id_message) FROM stdin;
\.


--
-- Data for Name: user_; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_ (id_user, nom, email, telephone, adresse, mot_de_passe, id_fonction) FROM stdin;
2	Mahaliana Razafimanjato	mahalianarazafimanjato@gmail.com	+261382305086	Antsirabe	password123	3
3	Bakomalala Fenitra	bakomalalafenitra@gmail.com	+261383817421	Fianarantsoa	password123	1
4	Harimalala Ericka	harimalalaerickarandria@gmail.com	+261349322431	Toamasina	password123	3
6	RAZAFIMANANTSOA Tsiresy	mntsiresy@gmail.com	+261346367580	Antananarivo	responsable123	4
1	Romeo Esther	romeesther66@gmail.com	+261349833949	Antananarivo	password123	2
\.


--
-- Name: alerte_id_alerte_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alerte_id_alerte_seq', 26, true);


--
-- Name: fonction_id_fonction_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fonction_id_fonction_seq', 4, true);


--
-- Name: historique_message_status_id_historique_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.historique_message_status_id_historique_seq', 32, true);


--
-- Name: historique_status_agent_id_historique_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.historique_status_agent_id_historique_seq', 1, false);


--
-- Name: intervention_id_intervention_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.intervention_id_intervention_seq', 3, true);


--
-- Name: message_id_message_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.message_id_message_seq', 66, true);


--
-- Name: message_patrouilleur_id_message_patrouilleur_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.message_patrouilleur_id_message_patrouilleur_seq', 1, false);


--
-- Name: patrouilleurs_id_patrouilleur_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.patrouilleurs_id_patrouilleur_seq', 10, true);


--
-- Name: site_id_site_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.site_id_site_seq', 4, true);


--
-- Name: status_agent_id_status_agent_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.status_agent_id_status_agent_seq', 3, true);


--
-- Name: status_message_id_status_message_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.status_message_id_status_message_seq', 3, true);


--
-- Name: typealerte_id_typealerte_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.typealerte_id_typealerte_seq', 4, true);


--
-- Name: user__id_user_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user__id_user_seq', 12, true);


--
-- Name: userapp_iduserapp_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.userapp_iduserapp_seq', 8, true);


--
-- PostgreSQL database dump complete
--

